<html>
	<head>
		<meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Central Pinima </title>
		<style>
			.imageLogo{
				display: block;
				margin-left: auto;
				margin-right: auto
			}
			body h1{
				margin: 50px;
				text-align: center;
			}
		</style>

	</head>

	<body>
		<h1> Central Pinima </h1>
 	 		<img class="imageLogo" src="logo.png" alt="Pinima Logo">
	</body>
</html>
